stages:
  - test

variables:
  CI_IMAGE: "bebra11111111/my-shell-app:latest"

test:
  stage: test
  image:
    name: $CI_IMAGE
    pull_policy: if-not-present
  tags:
    - linux
  script:
    - cp -r . /mnt/
    - /opt/check.sh
    - cp /mnt/kubsh.deb .
  artifacts:
    paths:
      - kubsh.deb
    expire_in: 1 week
