stages:
  - build
  - test
  - package

variables:
  # Замените на имя вашего образа, если он публичный, или настройте доступ к приватному registry
  TEST_IMAGE: "tyvik/kubsh_test:master" 

build:
  stage: build
  image: gcc:12
  tags:
    - linux
  before_script:
    - apt-get update && apt-get install -y make
  script:
    - make build
  artifacts:
    paths:
      - kubsh
    expire_in: 1 hour

test:
  stage: test
  image: $TEST_IMAGE
  tags:
    - linux
  dependencies:
    - build
  script:
    # Предполагаем, что тесты лежат в корне или в папке tests/
    # Убедитесь, что pytest установлен в образе
    - chmod +x kubsh
    - pytest -v
  # Если тесты требуют специфических настроек окружения, добавьте их здесь

package:
  stage: package
  image: debian:stable-slim
  tags:
    - linux
  dependencies:
    - build
  before_script:
    - apt-get update && apt-get install -y dpkg-dev fakeroot
  script:
    - mkdir -p kubsh-package/usr/bin
    - cp kubsh kubsh-package/usr/bin/
    - chmod 755 kubsh-package/usr/bin/kubsh
    # Убедитесь, что control файл существует и корректен
    - dpkg-deb --build kubsh-package kubsh_1.0_amd64.deb
  artifacts:
    paths:
      - kubsh_1.0_amd64.deb
    expire_in: 1 week
