stages:
  - test

variables:
  CI_IMAGE: "bebra11111111/my-shell-app:latest"

test:
  stage: test
  image:
    name: $CI_IMAGE
    pull_policy: if-not-present
  tags:
    - linux
  script:
    - echo "=== Building ==="
    - make deb
    - ls -la
    - echo "=== Installing package ==="
    - dpkg -i kubsh_1.0_amd64.deb
    - which kubsh
    - echo "=== Running tests ==="
    - cp -r /opt/* . || true
    - pytest -v
