stages:
  - build
  - test
  - package

variables:
  TEST_IMAGE: "tyvik/kubsh_test:master"

build:
  stage: build
  image: gcc:12
  tags:
    - linux
  before_script:
    - apt-get update && apt-get install -y make libfuse3-dev pkg-config
  script:
    - pwd
    - ls -la
    - echo "--- Makefile ---"
    - sed -n '1,200p' Makefile || true
    - make -n build || true
    - make build
  artifacts:
    paths:
      - kubsh
    expire_in: 1 hour

test:
  stage: test
  image: $TEST_IMAGE
  tags:
    - linux
  dependencies:
    - build
  variables:
    DOCKER_DRIVER: overlay2
  # Включаем privileged режим для поддержки FUSE
  services:
    - docker:dind
  before_script:
    # Проверяем и загружаем модуль FUSE
    - modprobe fuse || echo "FUSE module already loaded or not available"
  script:
    - chmod +x kubsh
    # Тесты находятся в /opt внутри образа. Копируем их в текущую папку.
    - cp -r /opt/* .
    # Добавляем текущую директорию в PATH, чтобы тесты нашли kubsh
    - export PATH=$PATH:$(pwd)
    - ls -la
    - pytest -v
package:
  stage: package
  image: debian:stable-slim
  tags:
    - linux
  dependencies:
    - build
  before_script:
    - apt-get update && apt-get install -y dpkg-dev fakeroot
  script:
    - mkdir -p kubsh-package/usr/bin
    - cp kubsh kubsh-package/usr/bin/
    - chmod 755 kubsh-package/usr/bin/kubsh
    - dpkg-deb --build kubsh-package kubsh_1.0_amd64.deb
  artifacts:
    paths:
      - kubsh_1.0_amd64.deb
    expire_in: 1 week
