name: CI

on:
  push:
  pull_request:

jobs:
  test:
    name: Build and test inside CI image
    runs-on: ubuntu-latest

    # Запуск job внутри образа (указываем строкой, без выражений)
    container:
      image: bebra11111111/my-shell-app:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy repo to /mnt
        run: cp -r . /mnt/

      - name: Run check.sh
        run: /opt/check.sh

      - name: Upload kubsh.deb
        uses: actions/upload-artifact@v4
        with:
          name: kubsh-deb
          path: kubsh.deb